compiler
c4c
compiler.exe
compiler.ilk
compiler.pdb
compiler.proj
compiler.rdi
vc140.pdb
vc140.rdi
build.obj
meta.exe
genkeywords
meta.obj
.zed/
des.c
des
metagen
.cache/
a.out
graphs/
scratch/
notes/
